

/*Definicao de cores universais*/

/* {
    primaria : #028090;
    secundaria : #00A896;
    tercearia: #02C39A;
    quartearia: #F0F3BD;
}*/



* {
    primaria : #2C1735;
    secundaria : #4E295B;
    tercearia: #02C39A;
    quartearia: #F0F3BD;
}

.button {
    -fx-background-color: quartearia;
}

.labeTExt{

    -fx-color: quartearia;
-fx-text-fill: quartearia;
 -fx-prompt-text-fill: quartearia;

}


.painelFundo{
    
    
    -fx-background-color: primaria;
}
.painelSecundario{
    
     -fx-background-color: secundaria;  
    
    
}
.painelTerceario{
    
     -fx-background-color: quartearia;        
}

.botaoCancelar{


-fx-background-color: #ffffff;
}

.botaoAdd, .botaoConfirmar{


-fx-background-color: #FFE300;
}


.botaoDashboard{
-fx-background-color: transparent;
}

.botaoDashboard:hover{
-fx-background-color: #653576;
}


.tab-pane
{
-fx-tab-min-height: 2em; /* 24 */
-fx-tab-max-height: 2em; /* 24 */
}
.tab .tab-label
{
-fx-alignment: CENTER;
-fx-text-fill: #ffffff;
}

.tab-content-area
{
-fx-background-color: secundaria;
-fx-padding: 0.0em;

}

.tab:selected
{
-fx-border-color: secundaria;
-fx-background-insets: 0, 1 1 0 1;
-fx-background-radius: 5 5 0 0, 4 4 0 0;
-fx-border-width: 0 0 3 0;
}

.tab-pane *.tab-header-background
{
-fx-background-color: transparent;

}
.tab:top:selected
{
-fx-background-color: transparent;
}
.tab:top
{
-fx-background-color: transparent;
}
.scroll-pane {
    -fx-background-color: transparent;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: white;
    -fx-background-radius: 5em;
}

.vbox{

-fx-background-color: transparent;
-fx-background-fills: transparent;

}